{% extends 'website/layouts/master-page' %}
{% load filters %}
{% load static %}

{% block css %}
  <link href="{% static 'website/css/datatables.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/songtable.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'website/js/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/songtable.js' %}"></script>
{% endblock %}

{% block title %}{{_('artist.title')}} “{{artist.name_en}}”{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <h1>
        {{_('artist.text')}}
        {{ artist.name_en }}
        {% if artist.name_en != artist.name_orig %}
          ({{ artist.name_orig }})
        {% endif %}
      </h1>
      <div id="artist_info">
        {% if artist.image %}
          <img id="p_pfp" src="{{artist.image.url}}" class="rounded-circle">
        {% else %}
          <img id="p_pfp" src="{% static 'website/imgs/no_image.png' %}" class="rounded-circle">
        {% endif %}
        <p>
          {{artist.about|newline|safe}}
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {% include 'website/subpages/songtable.html' %}
    </div>
  </div>

{% endblock %}
