{% extends 'website/layouts/master-page' %}
{% block css %}
  <link href="{% static 'website/css/datatables.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/songtable.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'website/js/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/songtable.js' %}"></script>
{% endblock %}

{% block title %}{{_('artist.title')}} “{{artist.name_en}}”{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      {{_('artist.text')}}
      {{ artist.name_en }}
      {% if artist.name_en != artist.name_orig %}
        <br /> ({{ artist.name_orig }})
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {% include 'website/subpages/songtable.html' %}
    </div>
  </div>

{% endblock %}
