{% extends 'website/layouts/master-page' %}

{% load filters %}
{% load static %}
{% block css %}
  <link href="/static/css/datatables.min.css" rel="stylesheet">
  <link href="/static/css/songtable.css" rel="stylesheet">
{% endblock %}

{% block title %}{{_('index.title')}}{% endblock %}
{% block content %}
  <div>
    <img src="/static/website/imgs/header.png" class="img-fluid rounded">
  </div>

  <div id="sotd" class="card border-primary">
    <div class="card-header">{{_('index.sotd.h')}}</div>
        <div class="card-body">
          {{ sotd.title_en }}
          {% if sotd.title_en != sotd.title_orig %}
            <br /> ({{ sotd.title_orig }})
          {% endif %}
          <hr />
          {{ sotd.difficulty_easy | number_format }} /
          {{ sotd.difficulty_normal | number_format }} /
          {{ sotd.difficulty_hard | number_format }} /
          {{ sotd.difficulty_oni | number_format }} /
          {{ sotd.difficulty_ura | number_format }}
          <hr />
          {% for art in sotd.artists|queryset %}
            <span class="badge rounded-pill bg-light small-pill">
              <a href="/browse_artist/{{art.id}}">
                {{ art.name_en }}
                {% if art.name_en != art.name_orig %}
                  <br /> ({{ art.name_orig }})
                {% endif %}
              </a>
            </span>
          {% endfor %}

          {% if sotd.source.name_en %}
            <span class="badge rounded-pill bg-secondary small-pill">
              <a href="/browse_source/{{song.source.id}}" style="color:white;">
                {{ sotd.source.name_en }}
                {% if sotd.source.name_en != sotd.source.name_orig %}
                  <br /> ({{ sotd.source.name_orig }})
                {% endif %}
              </a>
            </span>
          {% endif %}
          {% for c in sotd|charters %}
            <span class="badge rounded-pill bg-dark small-pill">
              <a href="/browse_charter/{{c.id}}" style="color:white;">
                {{ c.charter_name }}
              </a>
            </span>
          {% endfor %}
        </div>
  </div>


  <div class="card border-secondary">
    <div class="card-header">{{_('index.about.h')}}</div>
    <div class="card-body">
      {{_('index.about.text1')}} <a href="/browse">{{_('index.about.a')}}</a>
      {{_('index.about.text2')}}
    </div>
  </div>

  <div class="card border-primary">
    <div class="card-header"> {{_('index.donate.h')}}</div>
    <div class="card-body">
      <p> {{_('index.donate.p1')}} </p>
      <p>
        {{_('index.donate.p2a')}} <a href="/donate"> {{_('index.donate.a')}} </a>
        {{_('index.donate.p2b')}}
      </p>
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header"> {{_('index.submit.h')}} </div>
    <div class="card-body">
      {{_('index.submit.text')}}
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header">{{_('index.involved.h')}}</div>
    <div class="card-body">
      {{_('index.involved.text1')}}
      <b><a href="https://github.com/PidgeyL/TJADB">GitHub</a></b>.
      {{_('index.involved.text2')}}
    </div>
  </div>

{% endblock %}
